<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pcm_extension -->
      <package
            uri="http://www.example.org/pcm_extension"
            class="org.xtext.lua.pcm_extension.Pcm_extensionPackage"
            genModel="model/pcm_extension.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pcm_extension -->
      <package
            uri="http://www.xtext.org/lua/Lua"
            class="lua.LuaPackage"
            genModel="model/pcm_extension.genmodel"/>
   </extension>

</plugin>
